[submodule "external/sg_sound"]
	path = external/sg_sound
	url = https://github.com/supergoongaming/sg_sound.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
